.sdcc-cp-btn {
    background-color: $colorPrimary;
    color: #ffffff;
    height: 55px;
    padding: 15px;
    text-transform: uppercase;
    transition: all 0.25s ease;
    line-height: 1;

    &:hover {
        background-color: darken($colorPrimary, 8);
    }

    &--block {
        width: 100%;
    }
}
