.sd-coupon-mbox-form-table {
    width: 100%;

    tr {
        th {
            width: 160px;
            padding: 5px 5px 5px 0;
            text-align: left;
        }

        th,
        td {
            padding: 7px 0;
        }
    }
}