.sd-coupon-store-logo-preview {
    margin-bottom: 10px;

    img {
        height: auto;
        max-width: 150px;
    }
}

.sd-coupon-store-logo-block {
    img {
        height: auto;
        max-width: 150px;
    }
}